In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../Data/Kaggle/StoreSales/processed_train_v2.csv")

In [3]:
df.head()

,id,date,store_nbr,family,sales,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,0,2013-01-01,1,0,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
1,1,2013-01-01,1,1,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
2,2,2013-01-01,1,2,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
3,3,2013-01-01,1,3,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
4,4,2013-01-01,1,4,0.0,0,3,93.14,18,12,3,13,2,1,1,2013

In [4]:
columns_to_drop = ['id', 'city', 'state', 'typestores', 'cluster']

In [5]:
df.drop(columns=columns_to_drop, inplace=True)

In [6]:
store_numbers = [1, 8, 17, 20, 27]

In [7]:
df = df[df['store_nbr'].isin(store_numbers)]

In [8]:
families = [3, 5, 10, 24, 30]

In [9]:
df = df[df['family'].isin(families)]

In [10]:
df.to_csv('../../Data/Kaggle/StoreSales/deployment.csv', index=False)