In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Data/Pharmacy/D2.csv')

In [3]:
df.head()

,date,looseqty,price,packunits,expiry,itemname,datestring
0,7/1/22 0:02,1,18.00,1,7/5/24 0:00,PEDITRAL (LEMON) ORS SACHET,1/7/2022
1,7/1/22 0:03,3,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022
2,7/1/22 0:03,2,7.83,30,8/1/25 0:00,CARLOV 6.25MG TAB(30'S),1/7/2022
3,7/1/22 0:03,2,34.29,14,10/1/24 0:00,NEXUM 40MG CAP,1/7/2022
4,7/1/22 0:04,8,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022

In [4]:
df[['date', 'time']] = df['date'].str.split(' ', 1, expand=True)

/var/folders/2l/20nw0y015f5g5lbv09m0rccr0000gn/T/ipykernel_1520/3602917632.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'time']] = df['date'].str.split(' ', 1, expand=True)

In [5]:
df.head()

,date,looseqty,price,packunits,expiry,itemname,datestring,time
0,7/1/22,1,18.00,1,7/5/24 0:00,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02
1,7/1/22,3,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:03
2,7/1/22,2,7.83,30,8/1/25 0:00,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03
3,7/1/22,2,34.29,14,10/1/24 0:00,NEXUM 40MG CAP,1/7/2022,0:03
4,7/1/22,8,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:04

In [6]:
df = df.drop('date', axis=1)

In [7]:
df.head()

,looseqty,price,packunits,expiry,itemname,datestring,time
0,1,18.00,1,7/5/24 0:00,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02
1,3,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:03
2,2,7.83,30,8/1/25 0:00,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03
3,2,34.29,14,10/1/24 0:00,NEXUM 40MG CAP,1/7/2022,0:03
4,8,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:04

In [8]:
df = df.rename(columns={'datestring': 'date'})

In [9]:
df.head()

,looseqty,price,packunits,expiry,itemname,date,time
0,1,18.00,1,7/5/24 0:00,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02
1,3,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:03
2,2,7.83,30,8/1/25 0:00,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03
3,2,34.29,14,10/1/24 0:00,NEXUM 40MG CAP,1/7/2022,0:03
4,8,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:04

In [10]:
df[['expiry_date', 'expiry_time']] = df['expiry'].str.split(' ', 1, expand=True)

/var/folders/2l/20nw0y015f5g5lbv09m0rccr0000gn/T/ipykernel_1520/3024243905.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['expiry_date', 'expiry_time']] = df['expiry'].str.split(' ', 1, expand=True)

In [11]:
df.head()

,looseqty,price,packunits,expiry,itemname,date,time,expiry_date,expiry_time
0,1,18.00,1,7/5/24 0:00,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02,7/5/24,0:00
1,3,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:03,2/8/24,0:00
2,2,7.83,30,8/1/25 0:00,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03,8/1/25,0:00
3,2,34.29,14,10/1/24 0:00,NEXUM 40MG CAP,1/7/2022,0:03,10/1/24,0:00
4,8,6.31,20,2/8/24 0:00,SPIROMIDE 20MG TAB,1/7/2022,0:04,2/8/24,0:00

In [12]:
df = df.drop('expiry', axis=1)

In [13]:
df.head()

,looseqty,price,packunits,itemname,date,time,expiry_date,expiry_time
0,1,18.00,1,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02,7/5/24,0:00
1,3,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:03,2/8/24,0:00
2,2,7.83,30,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03,8/1/25,0:00
3,2,34.29,14,NEXUM 40MG CAP,1/7/2022,0:03,10/1/24,0:00
4,8,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:04,2/8/24,0:00

In [14]:
df = df.drop('expiry_time', axis=1)

In [15]:
df.head()

,looseqty,price,packunits,itemname,date,time,expiry_date
0,1,18.00,1,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02,7/5/24
1,3,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:03,2/8/24
2,2,7.83,30,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03,8/1/25
3,2,34.29,14,NEXUM 40MG CAP,1/7/2022,0:03,10/1/24
4,8,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:04,2/8/24

In [16]:
df = df.rename(columns={'expiry_date': 'expiry'})

In [17]:
df.head()

,looseqty,price,packunits,itemname,date,time,expiry
0,1,18.00,1,PEDITRAL (LEMON) ORS SACHET,1/7/2022,0:02,7/5/24
1,3,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:03,2/8/24
2,2,7.83,30,CARLOV 6.25MG TAB(30'S),1/7/2022,0:03,8/1/25
3,2,34.29,14,NEXUM 40MG CAP,1/7/2022,0:03,10/1/24
4,8,6.31,20,SPIROMIDE 20MG TAB,1/7/2022,0:04,2/8/24

In [18]:
looseqty_column = df.pop('date')
df['date'] = looseqty_column

In [19]:
looseqty_column = df.pop('time')
df['time'] = looseqty_column

In [20]:
looseqty_column = df.pop('itemname')
df['itemname'] = looseqty_column

In [21]:
looseqty_column = df.pop('packunits')
df['packunits'] = looseqty_column

In [22]:
looseqty_column = df.pop('expiry')
df['expiry'] = looseqty_column

In [23]:
looseqty_column = df.pop('price')
df['price'] = looseqty_column

In [24]:
looseqty_column = df.pop('looseqty')
df['looseqty'] = looseqty_column

In [25]:
df.head()

,date,time,itemname,packunits,expiry,price,looseqty
0,1/7/2022,0:02,PEDITRAL (LEMON) ORS SACHET,1,7/5/24,18.00,1
1,1/7/2022,0:03,SPIROMIDE 20MG TAB,20,2/8/24,6.31,3
2,1/7/2022,0:03,CARLOV 6.25MG TAB(30'S),30,8/1/25,7.83,2
3,1/7/2022,0:03,NEXUM 40MG CAP,14,10/1/24,34.29,2
4,1/7/2022,0:04,SPIROMIDE 20MG TAB,20,2/8/24,6.31,8

In [26]:
df.to_csv('../../Data/Pharmacy/D3.csv', index=False)