In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../../Data/Kaggle/StoreSales/processed_test_v2.csv")

In [3]:
df = df.drop(columns=['onpromotion', 'typeholiday', 'dcoilwtico', 'city', 'state', 'typestores', 'cluster', 'day_of_week', 'day', 'month', 'year'])

In [4]:
df.head()

        id        date  store_nbr  family
0  3000888  2017-08-16          1       0
1  3000889  2017-08-16          1       1
2  3000890  2017-08-16          1       2
3  3000891  2017-08-16          1       3
4  3000892  2017-08-16          1       4

In [5]:
df.shape

(28512, 4)

In [6]:
df.to_csv('../../Data/Kaggle/StoreSales/test_darts_univariate.csv', index=False)