In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv("../../Data/Kaggle/StoreSales/new_train.csv")
test = pd.read_csv("../../Data/Kaggle/StoreSales/new_test.csv")

In [3]:
combined = pd.concat([train, test], ignore_index=True)

In [4]:
combined = pd.get_dummies(combined)

In [5]:
first_range = (0, 3000887)
second_range = (3000888, combined['id'].max())

In [6]:
first_range = (0, 3000887)
second_range = (3000888, combined['id'].max())

In [7]:
train = combined[(combined['id'] >= first_range[0]) & (combined['id'] <= first_range[1])]
test = combined[(combined['id'] >= second_range[0]) & (combined['id'] <= second_range[1])]

In [8]:
train.head()

,id,store_nbr,sales,onpromotion,dcoilwtico,cluster,day_of_week,month,year,date_2013-01-01,...,state_Pastaza,state_Pichincha,state_Santa Elena,state_Santo Domingo de los Tsachilas,state_Tungurahua,typestores_A,typestores_B,typestores_C,typestores_D,typestores_E
0,0,1,0.0,0,93.14,13,2,1,2013,True,...,False,True,False,False,False,False,False,False,True,False
1,1,1,0.0,0,93.14,13,2,1,2013,True,...,False,True,False,False,False,False,False,False,True,False
2,2,1,0.0,0,93.14,13,2,1,2013,True,...,False,True,False,False,False,False,False,False,True,False
3,3,1,0.0,0,93.14,13,2,1,2013,True,...,False,True,False,False,False,False,False,False,True,False
4,4,1,0.0,0,93.14,13,2,1,2013,True,...,False,True,False,False,False,False,False,False,True,False

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000888 entries, 0 to 3000887
Columns: 1791 entries, id to typestores_E
dtypes: bool(1782), float64(2), int64(7)
memory usage: 5.2 GB

In [10]:
test.head()

,id,store_nbr,sales,onpromotion,dcoilwtico,cluster,day_of_week,month,year,date_2013-01-01,...,state_Pastaza,state_Pichincha,state_Santa Elena,state_Santo Domingo de los Tsachilas,state_Tungurahua,typestores_A,typestores_B,typestores_C,typestores_D,typestores_E
3000888,3000888,1,NaN,0,46.8,13,3,8,2017,False,...,False,True,False,False,False,False,False,False,True,False
3000889,3000889,1,NaN,0,46.8,13,3,8,2017,False,...,False,True,False,False,False,False,False,False,True,False
3000890,3000890,1,NaN,2,46.8,13,3,8,2017,False,...,False,True,False,False,False,False,False,False,True,False
3000891,3000891,1,NaN,20,46.8,13,3,8,2017,False,...,False,True,False,False,False,False,False,False,True,False
3000892,3000892,1,NaN,0,46.8,13,3,8,2017,False,...,False,True,False,False,False,False,False,False,True,False

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28512 entries, 3000888 to 3029399
Columns: 1791 entries, id to typestores_E
dtypes: bool(1782), float64(2), int64(7)
memory usage: 50.6 MB

In [12]:
X = train.drop(['id', 'sales'], axis=1)
y = train['sales']

In [13]:
test_data = test.drop(['id', 'sales'], axis=1)

In [14]:
test_data.head()

,store_nbr,onpromotion,dcoilwtico,cluster,day_of_week,month,year,date_2013-01-01,date_2013-01-02,date_2013-01-03,...,state_Pastaza,state_Pichincha,state_Santa Elena,state_Santo Domingo de los Tsachilas,state_Tungurahua,typestores_A,typestores_B,typestores_C,typestores_D,typestores_E
3000888,1,0,46.8,13,3,8,2017,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3000889,1,0,46.8,13,3,8,2017,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3000890,1,2,46.8,13,3,8,2017,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3000891,1,20,46.8,13,3,8,2017,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3000892,1,0,46.8,13,3,8,2017,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [15]:
batch_size = 10000

In [16]:
num_batches = len(X) // batch_size + 1

In [17]:
model = XGBRegressor(objective='reg:squarederror', n_estimators=100, random_state=42)

In [18]:
for i in range(num_batches):
    start_idx = i * batch_size
    end_idx = (i + 1) * batch_size

    X_batch = X.iloc[start_idx:end_idx]
    y_batch = y.iloc[start_idx:end_idx]

    model.fit(X_batch, y_batch)

    print(f"Batch {i + 1}/{num_batches} completed")

Batch 1/301 completed
Batch 2/301 completed
Batch 3/301 completed
Batch 4/301 completed
Batch 5/301 completed
Batch 6/301 completed
Batch 7/301 completed
Batch 8/301 completed
Batch 9/301 completed
Batch 10/301 completed
Batch 11/301 completed
Batch 12/301 completed
Batch 13/301 completed
Batch 14/301 completed
Batch 15/301 completed
Batch 16/301 completed
Batch 17/301 completed
Batch 18/301 completed
Batch 19/301 completed
Batch 20/301 completed
Batch 21/301 completed
Batch 22/301 completed
Batch 23/301 completed
Batch 24/301 completed
Batch 25/301 completed
Batch 26/301 completed
Batch 27/301 completed
Batch 28/301 completed
Batch 29/301 completed
Batch 30/301 completed
Batch 31/301 completed
Batch 32/301 completed
Batch 33/301 completed
Batch 34/301 completed
Batch 35/301 completed
Batch 36/301 completed
Batch 37/301 completed
Batch 38/301 completed
Batch 39/301 completed
Batch 40/301 completed
Batch 41/301 completed
Batch 42/301 completed
Batch 43/301 completed
Batch 44/301 completed
Batch 45/301 completed
Batch 46/301 completed
Batch 47/301 completed
Batch 48/301 completed
Batch 49/301 completed
Batch 50/301 completed
Batch 51/301 completed
Batch 52/301 completed
Batch 53/301 completed
Batch 54/301 completed
Batch 55/301 completed
Batch 56/301 completed
Batch 57/301 completed
Batch 58/301 completed
Batch 59/301 completed
Batch 60/301 completed
Batch 61/301 completed
Batch 62/301 completed
Batch 63/301 completed
Batch 64/301 completed
Batch 65/301 completed
Batch 66/301 completed
Batch 67/301 completed
Batch 68/301 completed
Batch 69/301 completed
Batch 70/301 completed
Batch 71/301 completed
Batch 72/301 completed
Batch 73/301 completed
Batch 74/301 completed
Batch 75/301 completed
Batch 76/301 completed
Batch 77/301 completed
Batch 78/301 completed
Batch 79/301 completed
Batch 80/301 completed
Batch 81/301 completed
Batch 82/301 completed
Batch 83/301 completed
Batch 84/301 completed
Batch 85/301 completed
Batch 86/301 completed
Batch 87/301 completed
Batch 88/301 completed
Batch 89/301 completed
Batch 90/301 completed
Batch 91/301 completed
Batch 92/301 completed
Batch 93/301 completed
Batch 94/301 completed
Batch 95/301 completed
Batch 96/301 completed
Batch 97/301 completed
Batch 98/301 completed
Batch 99/301 completed
Batch 100/301 completed
Batch 101/301 completed
Batch 102/301 completed
Batch 103/301 completed
Batch 104/301 completed
Batch 105/301 completed
Batch 106/301 completed
Batch 107/301 completed
Batch 108/301 completed
Batch 109/301 completed
Batch 110/301 completed
Batch 111/301 completed
Batch 112/301 completed
Batch 113/301 completed
Batch 114/301 completed
Batch 115/301 completed
Batch 116/301 completed
Batch 117/301 completed
Batch 118/301 completed
Batch 119/301 completed
Batch 120/301 completed
Batch 121/301 completed
Batch 122/301 completed
Batch 123/301 completed
Batch 124/301 completed
Batch 125/301 completed
Batch 126/301 completed
Batch 127/301 completed
Batch 128/301 completed
Batch 129/301 completed
Batch 130/301 completed
Batch 131/301 completed
Batch 132/301 completed
Batch 133/301 completed
Batch 134/301 completed
Batch 135/301 completed
Batch 136/301 completed
Batch 137/301 completed
Batch 138/301 completed
Batch 139/301 completed
Batch 140/301 completed
Batch 141/301 completed
Batch 142/301 completed
Batch 143/301 completed
Batch 144/301 completed
Batch 145/301 completed
Batch 146/301 completed
Batch 147/301 completed
Batch 148/301 completed
Batch 149/301 completed
Batch 150/301 completed
Batch 151/301 completed
Batch 152/301 completed
Batch 153/301 completed
Batch 154/301 completed
Batch 155/301 completed
Batch 156/301 completed
Batch 157/301 completed
Batch 158/301 completed
Batch 159/301 completed
Batch 160/301 completed
Batch 161/301 completed
Batch 162/301 completed
Batch 163/301 completed
Batch 164/301 completed
Batch 165/301 completed
Batch 166/301 completed
Batch 167/301 completed
Batch 168/301 completed
Batch 169/301 completed
Batch 170/301 completed
Batch 171/301 completed
Batch 172/301 completed
Batch 173/301 completed
Batch 174/301 completed
Batch 175/301 completed
Batch 176/301 completed
Batch 177/301 completed
Batch 178/301 completed
Batch 179/301 completed
Batch 180/301 completed
Batch 181/301 completed
Batch 182/301 completed
Batch 183/301 completed
Batch 184/301 completed
Batch 185/301 completed
Batch 186/301 completed
Batch 187/301 completed
Batch 188/301 completed
Batch 189/301 completed
Batch 190/301 completed
Batch 191/301 completed
Batch 192/301 completed
Batch 193/301 completed
Batch 194/301 completed
Batch 195/301 completed
Batch 196/301 completed
Batch 197/301 completed
Batch 198/301 completed
Batch 199/301 completed
Batch 200/301 completed
Batch 201/301 completed
Batch 202/301 completed
Batch 203/301 completed
Batch 204/301 completed
Batch 205/301 completed
Batch 206/301 completed
Batch 207/301 completed
Batch 208/301 completed
Batch 209/301 completed
Batch 210/301 completed
Batch 211/301 completed
Batch 212/301 completed
Batch 213/301 completed
Batch 214/301 completed
Batch 215/301 completed
Batch 216/301 completed
Batch 217/301 completed
Batch 218/301 completed
Batch 219/301 completed
Batch 220/301 completed
Batch 221/301 completed
Batch 222/301 completed
Batch 223/301 completed
Batch 224/301 completed
Batch 225/301 completed
Batch 226/301 completed
Batch 227/301 completed
Batch 228/301 completed
Batch 229/301 completed
Batch 230/301 completed
Batch 231/301 completed
Batch 232/301 completed
Batch 233/301 completed
Batch 234/301 completed
Batch 235/301 completed
Batch 236/301 completed
Batch 237/301 completed
Batch 238/301 completed
Batch 239/301 completed
Batch 240/301 completed
Batch 241/301 completed
Batch 242/301 completed
Batch 243/301 completed
Batch 244/301 completed
Batch 245/301 completed
Batch 246/301 completed
Batch 247/301 completed
Batch 248/301 completed
Batch 249/301 completed
Batch 250/301 completed
Batch 251/301 completed
Batch 252/301 completed
Batch 253/301 completed
Batch 254/301 completed
Batch 255/301 completed
Batch 256/301 completed
Batch 257/301 completed
Batch 258/301 completed
Batch 259/301 completed
Batch 260/301 completed
Batch 261/301 completed
Batch 262/301 completed
Batch 263/301 completed
Batch 264/301 completed
Batch 265/301 completed
Batch 266/301 completed
Batch 267/301 completed
Batch 268/301 completed
Batch 269/301 completed
Batch 270/301 completed
Batch 271/301 completed
Batch 272/301 completed
Batch 273/301 completed
Batch 274/301 completed
Batch 275/301 completed
Batch 276/301 completed
Batch 277/301 completed
Batch 278/301 completed
Batch 279/301 completed
Batch 280/301 completed
Batch 281/301 completed
Batch 282/301 completed
Batch 283/301 completed
Batch 284/301 completed
Batch 285/301 completed
Batch 286/301 completed
Batch 287/301 completed
Batch 288/301 completed
Batch 289/301 completed
Batch 290/301 completed
Batch 291/301 completed
Batch 292/301 completed
Batch 293/301 completed
Batch 294/301 completed
Batch 295/301 completed
Batch 296/301 completed
Batch 297/301 completed
Batch 298/301 completed
Batch 299/301 completed
Batch 300/301 completed
Batch 301/301 completed

In [19]:
predictions = model.predict(test_data)

In [20]:
submission = pd.DataFrame({'id': test['id'], 'sales': predictions})

In [21]:
submission['sales'] = submission['sales'].apply(lambda x: max(0, x))

In [22]:
submission.to_csv('../../Data/Kaggle/StoreSales/submission.csv', index=False)