In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from joblib import dump, load
from sklearn.preprocessing import LabelEncoder

In [34]:
train = pd.read_csv("../../Data/Kaggle/StoreSales/processed_train_v2.csv")
test = pd.read_csv("../../Data/Kaggle/StoreSales/processed_test_v2.csv")

In [35]:
train = train.drop(['id'], axis=1)
test = test.drop(['id'], axis=1)

In [36]:
train.head()

,date,store_nbr,family,sales,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,2013-01-01,1,0,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
1,2013-01-01,1,1,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
2,2013-01-01,1,2,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
3,2013-01-01,1,3,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
4,2013-01-01,1,4,0.0,0,3,93.14,18,12,3,13,2,1,1,2013

In [37]:
test.head()

,date,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,2017-08-16,1,0,0,4,46.8,18,12,3,13,3,16,8,2017
1,2017-08-16,1,1,0,4,46.8,18,12,3,13,3,16,8,2017
2,2017-08-16,1,2,2,4,46.8,18,12,3,13,3,16,8,2017
3,2017-08-16,1,3,20,4,46.8,18,12,3,13,3,16,8,2017
4,2017-08-16,1,4,0,4,46.8,18,12,3,13,3,16,8,2017

In [38]:
train.tail()

,date,store_nbr,family,sales,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
3000883,2017-08-15,9,28,438.133,0,3,47.57,18,12,1,6,2,15,8,2017
3000884,2017-08-15,9,29,154.553,1,3,47.57,18,12,1,6,2,15,8,2017
3000885,2017-08-15,9,30,2419.729,148,3,47.57,18,12,1,6,2,15,8,2017
3000886,2017-08-15,9,31,121.000,8,3,47.57,18,12,1,6,2,15,8,2017
3000887,2017-08-15,9,32,16.000,0,3,47.57,18,12,1,6,2,15,8,2017

In [39]:
test.tail()

,date,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
28507,2017-08-31,9,28,1,4,47.26,18,12,1,6,4,31,8,2017
28508,2017-08-31,9,29,0,4,47.26,18,12,1,6,4,31,8,2017
28509,2017-08-31,9,30,1,4,47.26,18,12,1,6,4,31,8,2017
28510,2017-08-31,9,31,9,4,47.26,18,12,1,6,4,31,8,2017
28511,2017-08-31,9,32,0,4,47.26,18,12,1,6,4,31,8,2017

In [7]:
X = train.drop(['sales'], axis=1)
y = train['sales']

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   store_nbr    int64
 2   family       int64
 3   onpromotion  int64
 4   typeholiday  int64
 5   dcoilwtico   float64
 6   city         int64
 7   state        int64
 8   typestores   int64
 9   cluster      int64
 10  day_of_week  int64
 11  day          int64
 12  month        int64
 13  year         int64
dtypes: float64(1), int64(13)
memory usage: 320.5 MB

In [9]:
# for column in X.columns:
#     unique_values = X[column].unique()
#     print(f"Unique values for {column}:", unique_values, "\n")

In [10]:
family_encoder = LabelEncoder()
typeholiday_encoder = LabelEncoder()
city_encoder = LabelEncoder()
state_encoder = LabelEncoder()
typestores_encoder = LabelEncoder()

In [11]:
X['family'] = family_encoder.fit_transform(X['family'])
X['typeholiday'] = typeholiday_encoder.fit_transform(X['typeholiday'])
X['city'] = city_encoder.fit_transform(X['city'])
X['state'] = state_encoder.fit_transform(X['state'])
X['typestores'] = typestores_encoder.fit_transform(X['typestores'])

In [12]:
with open('joblib/family_encoder.pkl', 'wb') as file:
    dump(family_encoder, file)
    
with open('joblib/typeholiday_encoder.pkl', 'wb') as file:
    dump(typeholiday_encoder, file)

with open('joblib/city_encoder.pkl', 'wb') as file:
    dump(city_encoder, file)
    
with open('joblib/state_encoder.pkl', 'wb') as file:
    dump(state_encoder, file)
    
with open('joblib/typestores_encoder.pkl', 'wb') as file:
    dump(typestores_encoder, file)

In [13]:
X.shape

(3000888, 14)

In [14]:
X.head()

,id,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,0,1,0,0,3,93.14,18,12,3,13,2,1,1,2013
1,1,1,1,0,3,93.14,18,12,3,13,2,1,1,2013
2,2,1,2,0,3,93.14,18,12,3,13,2,1,1,2013
3,3,1,3,0,3,93.14,18,12,3,13,2,1,1,2013
4,4,1,4,0,3,93.14,18,12,3,13,2,1,1,2013

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
batch_size = 10000

In [17]:
num_batches = len(X_train) // batch_size + 1

In [18]:
model = XGBRegressor(objective='reg:squarederror', n_estimators=100, random_state=42)

In [19]:
for i in range(num_batches):
    start_idx = i * batch_size
    end_idx = (i + 1) * batch_size

    X_batch = X_train.iloc[start_idx:end_idx]
    y_batch = y_train.iloc[start_idx:end_idx]

    model.fit(X_batch, y_batch)

    print(f"Batch {i + 1}/{num_batches} completed")

Batch 1/241 completed
Batch 2/241 completed
Batch 3/241 completed
Batch 4/241 completed
Batch 5/241 completed
Batch 6/241 completed

KeyboardInterrupt:

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
print(f'RMSE: {rmse}')

In [ ]:
print(X_test.iloc[[0]])

In [ ]:
y_pred_0 = model.predict(X_test.iloc[[0]])

In [ ]:
print(y_pred_0)

In [ ]:
print(y_test.iloc[[0]])

In [ ]:
dump(model, 'joblib/M10.joblib')

In [ ]:
import joblib

print("Joblib version:", joblib.__version__)