In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv("../../Data/Kaggle/StoreSales/new_train.csv")
test = pd.read_csv("../../Data/Kaggle/StoreSales/new_test.csv")

In [3]:
train.head()

,store_nbr,family,sales,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,1,AUTOMOTIVE,0.0,0,Holiday,93.14,Quito,Pichincha,D,13,2,1,1,2013
1,1,BABY CARE,0.0,0,Holiday,93.14,Quito,Pichincha,D,13,2,1,1,2013
2,1,BEAUTY,0.0,0,Holiday,93.14,Quito,Pichincha,D,13,2,1,1,2013
3,1,BEVERAGES,0.0,0,Holiday,93.14,Quito,Pichincha,D,13,2,1,1,2013
4,1,BOOKS,0.0,0,Holiday,93.14,Quito,Pichincha,D,13,2,1,1,2013

In [4]:
test.head()

,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,1,AUTOMOTIVE,0,NDay,46.8,Quito,Pichincha,D,13,3,16,8,2017
1,1,BABY CARE,0,NDay,46.8,Quito,Pichincha,D,13,3,16,8,2017
2,1,BEAUTY,2,NDay,46.8,Quito,Pichincha,D,13,3,16,8,2017
3,1,BEVERAGES,20,NDay,46.8,Quito,Pichincha,D,13,3,16,8,2017
4,1,BOOKS,0,NDay,46.8,Quito,Pichincha,D,13,3,16,8,2017

In [5]:
scaler = MinMaxScaler()
train['sales_scaled'] = scaler.fit_transform(train['sales'].values.reshape(-1, 1))

In [6]:
sequence_length = 10
sequences = []
targets = []

In [7]:
for i in range(len(train) - sequence_length):
    sequences.append(train['sales_scaled'].values[i:i+sequence_length])
    targets.append(train['sales_scaled'].values[i+sequence_length])

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
X_train = X_train.reshape(X_train.shape[0], sequence_length, 1)
X_test = X_test.reshape(X_test.shape[0], sequence_length, 1)

In [11]:
model = Sequential()
model.add(LSTM(50, input_shape=(sequence_length, 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

In [12]:
model.fit(X_train, y_train, epochs=50, batch_size=10000, validation_data=(X_test, y_test))

Epoch 1/50
241/241 [==============================] - 23s 91ms/step - loss: 7.6902e-05 - val_loss: 7.3608e-05
Epoch 2/50
241/241 [==============================] - 22s 92ms/step - loss: 7.5561e-05 - val_loss: 7.3574e-05
Epoch 3/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5511e-05 - val_loss: 7.3518e-05
Epoch 4/50
241/241 [==============================] - 22s 90ms/step - loss: 7.5449e-05 - val_loss: 7.3462e-05
Epoch 5/50
241/241 [==============================] - 22s 92ms/step - loss: 7.5460e-05 - val_loss: 7.3447e-05
Epoch 6/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5379e-05 - val_loss: 7.3895e-05
Epoch 7/50
241/241 [==============================] - 22s 91ms/step - loss: 7.5390e-05 - val_loss: 7.3402e-05
Epoch 8/50
241/241 [==============================] - 22s 92ms/step - loss: 7.5372e-05 - val_loss: 7.3374e-05
Epoch 9/50
241/241 [==============================] - 22s 89ms/step - loss: 7.5304e-05 - val_loss: 7.3644e-05
Epoch 10/50
241/241 [==============================] - 22s 92ms/step - loss: 7.5326e-05 - val_loss: 7.3433e-05
Epoch 11/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5323e-05 - val_loss: 7.3810e-05
Epoch 12/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5281e-05 - val_loss: 7.3407e-05
Epoch 13/50
241/241 [==============================] - 22s 92ms/step - loss: 7.5277e-05 - val_loss: 7.3292e-05
Epoch 14/50
241/241 [==============================] - 22s 91ms/step - loss: 7.5251e-05 - val_loss: 7.3280e-05
Epoch 15/50
241/241 [==============================] - 22s 90ms/step - loss: 7.5237e-05 - val_loss: 7.3349e-05
Epoch 16/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5214e-05 - val_loss: 7.3338e-05
Epoch 17/50
241/241 [==============================] - 22s 93ms/step - loss: 7.5196e-05 - val_loss: 7.3229e-05
Epoch 18/50
241/241 [==============================] - 23s 94ms/step - loss: 7.5205e-05 - val_loss: 7.3240e-05
Epoch 19/50
241/241 [==============================] - 23s 94ms/step - loss: 7.5154e-05 - val_loss: 7.3194e-05
Epoch 20/50
241/241 [==============================] - 23s 97ms/step - loss: 7.5141e-05 - val_loss: 7.3159e-05
Epoch 21/50
241/241 [==============================] - 23s 95ms/step - loss: 7.5108e-05 - val_loss: 7.3203e-05
Epoch 22/50
241/241 [==============================] - 23s 95ms/step - loss: 7.5080e-05 - val_loss: 7.3146e-05
Epoch 23/50
241/241 [==============================] - 23s 94ms/step - loss: 7.4981e-05 - val_loss: 7.3256e-05
Epoch 24/50
241/241 [==============================] - 23s 96ms/step - loss: 7.4715e-05 - val_loss: 7.2347e-05
Epoch 25/50
241/241 [==============================] - 23s 94ms/step - loss: 7.2433e-05 - val_loss: 6.9556e-05
Epoch 26/50
241/241 [==============================] - 23s 94ms/step - loss: 7.0658e-05 - val_loss: 6.9234e-05
Epoch 27/50
241/241 [==============================] - 23s 95ms/step - loss: 7.0355e-05 - val_loss: 6.8498e-05
Epoch 28/50
241/241 [==============================] - 23s 94ms/step - loss: 7.0241e-05 - val_loss: 6.8216e-05
Epoch 29/50
241/241 [==============================] - 23s 97ms/step - loss: 7.0031e-05 - val_loss: 6.8301e-05
Epoch 30/50
241/241 [==============================] - 23s 97ms/step - loss: 6.9783e-05 - val_loss: 6.7824e-05
Epoch 31/50
241/241 [==============================] - 23s 96ms/step - loss: 6.7095e-05 - val_loss: 6.2232e-05
Epoch 32/50
241/241 [==============================] - 23s 95ms/step - loss: 6.2081e-05 - val_loss: 5.8720e-05
Epoch 33/50
241/241 [==============================] - 23s 97ms/step - loss: 5.6847e-05 - val_loss: 5.2075e-05
Epoch 34/50
241/241 [==============================] - 23s 94ms/step - loss: 5.1324e-05 - val_loss: 4.8456e-05
Epoch 35/50
241/241 [==============================] - 23s 94ms/step - loss: 4.6717e-05 - val_loss: 4.2802e-05
Epoch 36/50
241/241 [==============================] - 23s 97ms/step - loss: 4.3347e-05 - val_loss: 4.1197e-05
Epoch 37/50
241/241 [==============================] - 23s 97ms/step - loss: 4.1461e-05 - val_loss: 4.0169e-05
Epoch 38/50
241/241 [==============================] - 22s 92ms/step - loss: 3.9836e-05 - val_loss: 3.8179e-05
Epoch 39/50
241/241 [==============================] - 23s 94ms/step - loss: 3.8641e-05 - val_loss: 3.7008e-05
Epoch 40/50
241/241 [==============================] - 23s 94ms/step - loss: 3.7364e-05 - val_loss: 3.6032e-05
Epoch 41/50
241/241 [==============================] - 23s 96ms/step - loss: 3.6385e-05 - val_loss: 3.5264e-05
Epoch 42/50
241/241 [==============================] - 22s 92ms/step - loss: 3.5615e-05 - val_loss: 3.3948e-05
Epoch 43/50
241/241 [==============================] - 23s 96ms/step - loss: 3.4864e-05 - val_loss: 3.3316e-05
Epoch 44/50
241/241 [==============================] - 23s 95ms/step - loss: 3.4300e-05 - val_loss: 3.2976e-05
Epoch 45/50
241/241 [==============================] - 23s 96ms/step - loss: 3.3594e-05 - val_loss: 3.2087e-05
Epoch 46/50
241/241 [==============================] - 23s 96ms/step - loss: 3.3122e-05 - val_loss: 3.1162e-05
Epoch 47/50
241/241 [==============================] - 23s 96ms/step - loss: 3.2437e-05 - val_loss: 3.0444e-05
Epoch 48/50
241/241 [==============================] - 23s 96ms/step - loss: 3.1850e-05 - val_loss: 3.4943e-05
Epoch 49/50
241/241 [==============================] - 23s 95ms/step - loss: 3.1298e-05 - val_loss: 2.9251e-05
Epoch 50/50
241/241 [==============================] - 23s 96ms/step - loss: 3.0619e-05 - val_loss: 2.8990e-05

In [13]:
y_pred = model.predict(X_test)

18756/18756 [==============================] - 9s 489us/step

In [14]:
y_pred = scaler.inverse_transform(y_pred)

In [15]:
y_test_original = scaler.inverse_transform(y_test.reshape(-1, 1))

In [16]:
rmse = np.sqrt(mean_squared_error(y_test_original, y_pred))

In [17]:
print(f'RMSE: {rmse}')

RMSE: 671.5031739102241

In [19]:
from joblib import dump, load

dump(model, 'joblib/M11.joblib')

['joblib/M11.joblib']