In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv("../../Data/Kaggle/StoreSales/processed_train.csv")
test = pd.read_csv("../../Data/Kaggle/StoreSales/processed_test.csv")

In [3]:
train.head()

,id,store_nbr,family,sales,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,0,1,0,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
1,1,1,1,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
2,2,1,2,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
3,3,1,3,0.0,0,3,93.14,18,12,3,13,2,1,1,2013
4,4,1,4,0.0,0,3,93.14,18,12,3,13,2,1,1,2013

In [4]:
test.head()

,id,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,3000888,1,0,0,4,46.8,18,12,3,13,3,16,8,2017
1,3000889,1,1,0,4,46.8,18,12,3,13,3,16,8,2017
2,3000890,1,2,2,4,46.8,18,12,3,13,3,16,8,2017
3,3000891,1,3,20,4,46.8,18,12,3,13,3,16,8,2017
4,3000892,1,4,0,4,46.8,18,12,3,13,3,16,8,2017

In [5]:
features = train.drop(['id','sales'], axis=1)
target = train['sales']

In [6]:
features.shape

(3000888, 13)

In [7]:
target.shape

(3000888,)

In [8]:
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(features)

In [9]:
scaled_features.shape

(3000888, 13)

In [10]:
sequence_length = 10

In [11]:
sequences = []

In [12]:
for i in range(len(scaled_features) - sequence_length):
    seq = scaled_features[i:i+sequence_length]
    sequences.append(seq)

In [13]:
sequences = np.array(sequences)
target = np.array(target)

In [14]:
sequences.shape

(3000878, 10, 13)

In [15]:
target.size

3000888

In [16]:
min_length = min(len(sequences), len(target))
sequences = sequences[:min_length]
target = target[:min_length]

In [17]:
model = Sequential()
model.add(LSTM(units=50, input_shape=(sequences.shape[1], sequences.shape[2])))
model.add(Dense(units=1))

model.compile(optimizer='adam', loss='mean_squared_error')

In [18]:
model.fit(sequences, target, epochs=50, batch_size=10000)

Epoch 1/50
301/301 [==============================] - 25s 78ms/step - loss: 1332168.2500
Epoch 2/50
301/301 [==============================] - 25s 82ms/step - loss: 1320648.2500
Epoch 3/50
301/301 [==============================] - 23s 78ms/step - loss: 1310986.0000
Epoch 4/50
301/301 [==============================] - 23s 76ms/step - loss: 1302070.5000
Epoch 5/50
301/301 [==============================] - 23s 76ms/step - loss: 1293783.6250
Epoch 6/50
301/301 [==============================] - 23s 78ms/step - loss: 1286067.2500
Epoch 7/50
301/301 [==============================] - 23s 76ms/step - loss: 1278873.3750
Epoch 8/50
301/301 [==============================] - 23s 76ms/step - loss: 1272172.5000
Epoch 9/50
301/301 [==============================] - 23s 75ms/step - loss: 1265937.6250
Epoch 10/50
301/301 [==============================] - 23s 75ms/step - loss: 1260151.7500
Epoch 11/50
301/301 [==============================] - 22s 74ms/step - loss: 1254797.5000
Epoch 12/50
301/301 [==============================] - 22s 75ms/step - loss: 1249846.1250
Epoch 13/50
301/301 [==============================] - 23s 75ms/step - loss: 1245291.7500
Epoch 14/50
301/301 [==============================] - 23s 76ms/step - loss: 1241122.7500
Epoch 15/50
301/301 [==============================] - 23s 75ms/step - loss: 1237320.6250
Epoch 16/50
301/301 [==============================] - 23s 75ms/step - loss: 1233870.7500
Epoch 17/50
301/301 [==============================] - 23s 76ms/step - loss: 1230766.6250
Epoch 18/50
301/301 [==============================] - 23s 76ms/step - loss: 1227997.1250
Epoch 19/50
301/301 [==============================] - 23s 76ms/step - loss: 1225543.0000
Epoch 20/50
301/301 [==============================] - 23s 76ms/step - loss: 1223388.2500
Epoch 21/50
301/301 [==============================] - 23s 77ms/step - loss: 1221521.7500
Epoch 22/50
301/301 [==============================] - 23s 76ms/step - loss: 1219930.0000
Epoch 23/50
301/301 [==============================] - 23s 76ms/step - loss: 1218598.2500
Epoch 24/50
301/301 [==============================] - 23s 76ms/step - loss: 1217498.6250
Epoch 25/50
301/301 [==============================] - 23s 75ms/step - loss: 1216618.7500
Epoch 26/50
301/301 [==============================] - 23s 76ms/step - loss: 1215930.5000
Epoch 27/50
301/301 [==============================] - 23s 75ms/step - loss: 1215410.7500
Epoch 28/50
301/301 [==============================] - 23s 75ms/step - loss: 1215034.5000
Epoch 29/50
301/301 [==============================] - 23s 76ms/step - loss: 1214775.1250
Epoch 30/50
301/301 [==============================] - 23s 75ms/step - loss: 1214606.0000
Epoch 31/50
301/301 [==============================] - 23s 75ms/step - loss: 1214504.2500
Epoch 32/50
301/301 [==============================] - 23s 75ms/step - loss: 1208673.1250
Epoch 33/50
301/301 [==============================] - 22s 75ms/step - loss: 1161932.6250
Epoch 34/50
301/301 [==============================] - 23s 76ms/step - loss: 1149867.3750
Epoch 35/50
301/301 [==============================] - 23s 75ms/step - loss: 1143367.6250
Epoch 36/50
301/301 [==============================] - 23s 77ms/step - loss: 1137907.6250
Epoch 37/50
301/301 [==============================] - 23s 77ms/step - loss: 1135140.7500
Epoch 38/50
301/301 [==============================] - 23s 76ms/step - loss: 1129925.8750
Epoch 39/50
301/301 [==============================] - 23s 76ms/step - loss: 1124809.0000
Epoch 40/50
301/301 [==============================] - 23s 76ms/step - loss: 1118942.3750
Epoch 41/50
301/301 [==============================] - 23s 76ms/step - loss: 1110874.5000
Epoch 42/50
301/301 [==============================] - 23s 76ms/step - loss: 1084262.1250
Epoch 43/50
301/301 [==============================] - 23s 77ms/step - loss: 1072139.3750
Epoch 44/50
301/301 [==============================] - 23s 75ms/step - loss: 1064581.8750
Epoch 45/50
301/301 [==============================] - 23s 75ms/step - loss: 1057933.0000
Epoch 46/50
301/301 [==============================] - 23s 76ms/step - loss: 1052178.0000
Epoch 47/50
301/301 [==============================] - 23s 78ms/step - loss: 1041497.6250
Epoch 48/50
301/301 [==============================] - 23s 76ms/step - loss: 1038484.2500
Epoch 49/50
301/301 [==============================] - 23s 77ms/step - loss: 1037828.8125
Epoch 50/50
301/301 [==============================] - 23s 77ms/step - loss: 1022168.0000

In [19]:
from joblib import dump, load

dump(model, 'joblib/M12.joblib')

['joblib/M12.joblib']

In [20]:
test_data = test.drop('id', axis=1)

In [21]:
test_data.head()

,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,1,0,0,4,46.8,18,12,3,13,3,16,8,2017
1,1,1,0,4,46.8,18,12,3,13,3,16,8,2017
2,1,2,2,4,46.8,18,12,3,13,3,16,8,2017
3,1,3,20,4,46.8,18,12,3,13,3,16,8,2017
4,1,4,0,4,46.8,18,12,3,13,3,16,8,2017

In [22]:
scaled_test_features = scaler.transform(test_data)

In [23]:
test_sequences = []

In [24]:
for i in range(len(scaled_test_features) - sequence_length):
    seq = scaled_test_features[i:i+sequence_length]
    test_sequences.append(seq)

In [25]:
test_sequences = np.array(test_sequences)

In [26]:
test_predictions = model.predict(test_sequences)

891/891 [==============================] - 1s 514us/step

In [27]:
test_predictions = np.maximum(test_predictions, 0)

In [28]:
test_predictions = np.concatenate([np.zeros(10),test_predictions.flatten()])

In [29]:
submission = pd.DataFrame({'id': test['id'], 'sales': test_predictions.flatten()})

In [30]:
submission.to_csv('../../Data/Kaggle/StoreSales/submission_lstm.csv', index=False)

In [33]:
import joblib

joblib.dump(scaler, 'joblib/scaler.joblib')

['joblib/scaler.joblib']