In [1]:
import pandas as pd
import joblib
import numpy as np

In [2]:
test = pd.read_csv("../../Data/Kaggle/StoreSales/processed_test.csv")

In [3]:
test.head()

,id,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,3000888,1,0,0,4,46.8,18,12,3,13,3,16,8,2017
1,3000889,1,1,0,4,46.8,18,12,3,13,3,16,8,2017
2,3000890,1,2,2,4,46.8,18,12,3,13,3,16,8,2017
3,3000891,1,3,20,4,46.8,18,12,3,13,3,16,8,2017
4,3000892,1,4,0,4,46.8,18,12,3,13,3,16,8,2017

In [4]:
sequence_length = 10

In [5]:
test_data = test.drop('id', axis=1)

In [6]:
test_data.head()

,store_nbr,family,onpromotion,typeholiday,dcoilwtico,city,state,typestores,cluster,day_of_week,day,month,year
0,1,0,0,4,46.8,18,12,3,13,3,16,8,2017
1,1,1,0,4,46.8,18,12,3,13,3,16,8,2017
2,1,2,2,4,46.8,18,12,3,13,3,16,8,2017
3,1,3,20,4,46.8,18,12,3,13,3,16,8,2017
4,1,4,0,4,46.8,18,12,3,13,3,16,8,2017

In [7]:
scaler = joblib.load('joblib/scaler.joblib')

In [8]:
scaled_test_features = scaler.transform(test_data)

In [9]:
test_sequences = []

In [10]:
for i in range(len(scaled_test_features) - sequence_length):
    seq = scaled_test_features[i:i+sequence_length]
    test_sequences.append(seq)

In [11]:
test_sequences = np.array(test_sequences)

In [12]:
model = joblib.load('joblib/M12.joblib')

In [13]:
test_predictions = model.predict(test_sequences)

891/891 [==============================] - 1s 503us/step

In [14]:
test_predictions = np.maximum(test_predictions, 0)

In [15]:
test_predictions = np.concatenate([np.zeros(10),test_predictions.flatten()])

In [16]:
submission = pd.DataFrame({'id': test['id'], 'sales': test_predictions.flatten()})

In [17]:
submission.to_csv('../../Data/Kaggle/StoreSales/submission_lstm.csv', index=False)